.above-map-block {
    position: absolute;
    z-index: 10000;
    width: 100%;
}
.coords-wrapper {
    display: flex;
    justify-content: space-around;
    top: 120px
}

.coords-wrapper > input {
    max-width: 40%;
}

.search-wrapper {
    bottom: 15px;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: center;
}

