#root {
  height: inherit;
}

.component {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  max-width: 500px;
  padding: 15px;
  border: 1px solid #ddd;
  box-shadow: 3px 4px #ddd6;
  background-color: #eee9;
}

.component .img {
  text-align: center;
}

.container p {
  color: #0000ff;
  cursor: pointer;
}

.container p:hover {
  color: #2f2ff5ef;
  text-shadow: 0.4px 1px #0004;
}

.container .error-message {
  color: darkred;
}

.container .under-form {
  display: flex;
  justify-content: space-between;
}

.btn.btn-logout {
  background-color: #eee;
  float: right;
}

#map {
  min-height: 250px;
  max-height: calc(100vh - 140px);
}
